<ul role="list" class="space-y-2 max-h-80 overflow-auto pr-1">
  @for (todo of todos(); track todo.id) {
  <li
    class="group flex items-center justify-between gap-3 rounded-xl border border-zinc-800 p-3 hover:border-zinc-700 hover:bg-zinc-900"
    [ngClass]="{
      'bg-zinc-900/80': !todo.completed,
      'bg-zinc-900/40': todo.completed,
      'opacity-70': todo.completed,
      'hover:opacity-100': todo.completed,
      'hover:bg-zinc-900/60': todo.completed
    }"
  >
    <label class="flex flex-1 items-center gap-3">
      <input
        type="checkbox"
        class="size-4 accent-blue-600"
        [checked]="todo.completed"
        (change)="toggleTodo(todo.id)"
      />
      <input
        #titleInput
        class="flex-1 rounded-md bg-transparent px-2 py-1 ring-1 ring-transparent focus:outline-none focus:ring-zinc-700"
        [class.line-through]="todo.completed"
        [class.text-zinc-400]="todo.completed"
        [value]="todo.title"
        [readonly]="!isEditing(todo.id)"
        (keyup.enter)="confirmEdit(todo.id, titleInput.value)"
        (keyup.escape)="cancelEdit()"
      />
    </label>

    @if (isEditing(todo.id)) {
    <button
      class="rounded-md border border-zinc-700 px-2 py-1 text-zinc-300 transition hover:border-green-500 hover:text-green-500 cursor-pointer"
      (click)="confirmEdit(todo.id, titleInput.value)"
    >
      <lucide-angular [img]="CheckIcon" class="w-4" />
    </button>
    } @else {
    <button
      class="rounded-md border border-zinc-700 px-2 py-1 text-zinc-300 transition hover:border-amber-500 hover:text-amber-500 cursor-pointer"
      (click)="startEditing(todo.id, titleInput)"
    >
      <lucide-angular [img]="SquarePenIcon" class="w-4" />
    </button>
    }
    <button
      class="rounded-md border border-zinc-700 px-2 py-1 text-zinc-300 transition hover:border-red-500 hover:text-red-500 cursor-pointer"
      (click)="removeTodo(todo.id)"
    >
      <lucide-angular [img]="TrashIcon" class="w-4" />
    </button>
  </li>
  }
</ul>
